@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  min-height: 100vh;
}
*{
  transition: .5s;
  text-transform: capitalize;
}
main{
  width: 100%;
  height: 100vh;
  background-color: #d99a4d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block__popup-click {
  background-color: #fff;
  color:#333;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.block__popup-click:active {
  box-shadow: none;
}
.popup__block {
  position: fixed;
  left: -105%;
  bottom: 20px;
  width: 350px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
  text-align: center;
  padding: 30px;
}
.popup__block_active{
  left: 20px;
}
.popup__block h2{
  font-size: 23px;
  color: #333;
}
.popup__block-close{
  position: absolute;
  top: -2px;
  right: 12px;
  color: #999;
  cursor: pointer;
  font-size: 40px;
}
.popup__block-close:hover{
  transform: rotate(90deg);
}
.popup__block img {
  height: 110px;
  animation: image 10s linear infinite;
}
.popup__block-accepr {
  display: block;
  background-color: #d99a4d;
  color:#fff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  margin-bottom: 10px;
  border-radius: 5px;
}
.popup__block-accepr:hover{
  letter-spacing: 1px;
  opacity: 0.8;
}
.popup__block-custmize{
  text-decoration: none;
  color: #999;
  font-size: 18px;
}

@keyframes image {
  0% {
    transform: rotate(-360deg);
  }
}